
#about-body {
    display: block;
    background-color: #6f8695;
    
}

#about-title-box {
    display: block;
    max-width: 50%;  
    margin: 40px auto;

}

#bios {
    display: flex;
    height: auto;
}

.dev-whole {
    display: block;
    
}

.dev-name {
    display: block;
    margin: 7px;
    
}

#special {
    font-stretch: ultra-condensed;
}

h2 {
    -webkit-margin-after: 0px;
}

.dev-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:2px solid black;
    width:  150px;
    height: 180px;
    
}

.dev-bio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.dev-box {
    display: block;
    margin: 7px;

    background: rgb(206, 206, 206);
    
    padding: 20px 10px 10px 10px;
    background: rgb(82, 161, 182);

    height: 600px;
    /* width: 280px; */
}

.para {
    margin: 8px, 7px, 7px, 7px;
    padding: 8px;
}

.connect {
    display: block;
    margin: 7px;
    
}