
body {
    max-width: 1000px;
    background-repeat: no-repeat;
    background-size: 1000px, 900px;
}
.style-player {
    position: absolute;
    height: 500px;
    width: 300px;
    top: 100px;
    left: 20px;
    z-index: -2;
}
.style-judge {
    position: absolute;
    height: 500px;
    width: 300px;
    top: 100px;
    left: 700px;
    z-index: -2;
    
}

.style-table {
    position: absolute;
    width: 1000px;
    height: 400px;
    top: 525px;
    left: 0;
    z-index: -1;
}

.player-name {
    position: absolute;
    font-size: 3em;
    color: rgb(216, 57, 113);
    line-height: 1em;
    text-shadow: 8px 5px 0px rgb(8, 22, 146);
    -webkit-text-stroke-color: rgb(248, 218, 109);
    -webkit-text-stroke-width: 3px;
    text-transform: uppercase;
    left: 50px;
    top: 80px;
}
.judge-name {
    position: absolute;
    font-size: 3em;
    color: rgb(216, 57, 113);
    line-height: 1em;
    text-shadow: 8px 5px 0px rgb(8, 22, 146);
    -webkit-text-stroke-color: rgb(248, 218, 109);
    -webkit-text-stroke-width: 3px;
    left: 780px;
    top: 80px;
}
.style-score {
    font-size: 3em;
    font-family: 'Londrina Solid', cursive;
    font-weight: 900;
    color: rgb(8, 22, 146);
    text-shadow: 3px 3px 0px #fff;
    text-align: center;
    margin-bottom: -25px;
}

#ingredient-selector {
    display: flex;
    justify-content: center;
}


#recipe-name {
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    text-align: center;
    padding: 10px 20px;
    border-radius: 20px;
    max-width: 400px;
    font-family: 'Londrina Solid', cursive;
    font-weight: 500;
    font-size: 3em;
    color: #fff;
    line-height: 1em;
    text-shadow: 3px 3px 0px #000;
    z-index: 4;
}
#ingredient { 
    position: absolute;
    width: 1000px;
    left: 50px;
    top: 550px;
    
}
#style-roundbutton {
    position: absolute;
    width: 350px;
    cursor: pointer;
    left: 330px;
    top: 300px;
}
.individual-ingredient {
    width: 150px;
    padding: 15px;
}
.selected-ingredient {
    border: 2px solid white;
    width: 150px;
    border-radius: 100px;
}