
h1 {
    font-family: 'Londrina Solid', cursive;
    font-weight: 900;
    text-align: center;
    
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;

}
p strong {
    font-weight: 700;
}

.credits {
    font-size: -1;
    font-style: italic;
    text-align: center;
}